<h3>Login</h3>
<form action="/login" method="POST">
	<input type="text" name="username" placeholder="Username:">
	<input type="password" name="password" placeholder="Password:">
	<input type="submit" value="Log In">
</form>


<!DOCTYPE html>\n<html>\n<head>\n\t<title>Sinatra Password Security</title>\n</head>\n<body>\n\t<h3>..." placeholder=\"Password:\">\n\t<input type=\"submit\" value=\"Log In\">\n</form>\n</body>\n</html>
