<h3>Sign Up</h3>
<form action="/signup" method="POST">
	<h3><input type="text" name="username" placeholder="Username:"></h3>
	<h3><input type="password" name="password" placeholder="Password:"></h3>
	<input type="submit" value="Sign Up">
</form>
