<h3>Sign Up</h3>
<form action="/signup" method="POST">
	<h2>Username: <input type="text" name="username" placeholder="Username:"> </h2><br>
	<h2>Password: <input type="password" name="password" placeholder="Password:"> </h2><br>
	<input type="submit" value="Sign Up">
</form>
