<h3>Sign Up</h3>
<form action="/signup" method="POST">
	<input type="text" name="username" placeholder="Username:">
	<input type="password" name="password" placeholder="Password:">
	<button type="submit" value="submit">Sign Up</button>
</form>